html, #root {
  height: 100%;
  padding:0px;
  margin: 0px;
}

body {
  min-height: 100%;
  padding:0px;
  margin: 0px;
}

.container {
  min-height: 100%;
  display: block;
}

.footer {

  position: absolute;
  bottom:0px;
  width: 100%;
}

.main-content{
  flex: 1 0 auto;
}


.desktop-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content:flex-start;
}

.desktop-panel {
  float:left;
  width: 50%;
  height: 100%;
}
